.section-modal-container {
    margin:0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.section-modal-container h4 {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 2px;
  color: white;
}

.section-modal-block {
  display: flex;
  align-items: center;
}

@media ( max-width: 1000px ) {
  .section-modal-container {
    width: 100%;
  }
}
