.section-feedback {
  background-color: #252525;
  background-image: url(../img/background.jpeg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  margin-bottom: -5px;
}

.title-feedback {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(229, 232, 248);
}

.section-feedback p {
  width: 90%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  font-size: 20px;
  color: rgb(229, 232, 248);
}

.section-feedback ul {
  width: 91%;
  padding-top: 0;
  padding-right: 2%;
  padding-bottom: 7%;
  padding-left: 7%;
  list-style: square;
  list-style-position: outside;
}


.section-feedback img {
  width: 180px;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 10%;
}

.section-feedback-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-left: 20%;
  margin-right: 20%;
}

.section-feedback-item {
  width: 400px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media ( max-width: 1500px ) {
  .section-feedback-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media ( max-width: 1000px ) {
  .section-feedback-item {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media ( max-width: 850px ) {
  .section-feedback p {
    font-size: 16px;
  }
  .section-feedback li {
    font-size: 16px;
  }
  .section-feedback-item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
