:root {
    --p-color: white;
    --author-color: white;
    --info-color: rgb(249, 255, 228);
}

.section-about-us {
    position: relative;
    margin-bottom: -5px;
    background-image: url(../img/logo-big.jpg);
}

.section-about-us img {
    padding-top: 310px;
    padding-right: 49px;
    padding-bottom: 300px;
    padding-left: 50px;
    width: 200px;
    background:rgba(255, 255, 255, 0.2);
    filter: drop-shadow(1px 1px 1px #ffffff36)
}

.section-about-us p {
    width: 100%;
    text-align: justify;
    font-size: 30px;
    color:var(--p-color);
    background-color: rgba(0, 0, 0, 0.7);
}

.section-about-us-container {
    position: absolute;
    z-index: 1;
    width: 30%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.author-heading {
    font-size: 65px;
    color: var(--author-color);
    line-height: 1.5;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.info-heading {
    font-size: 45px;
    color: var(--info-color);
    text-transform: uppercase;
    padding-bottom: 6px;
}

@media (max-width: 1600px) {
    .section-about-us-container {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .section-about-us p {
        font-size: 18px;
    }

    .section-about-us-container {
        width: 40%;
    }

    .author-heading {
        font-size: 42px;
    }

    .info-heading {
        font-size: 23px;
        color:white;
    }

    .section-about-us img {
        width: 20%;
    }
}
