body {
    max-width: 1920px;
    margin: auto;
    background-color: #303233;
}

nav {
    position: fixed; /* чтобы не прокручивался */
    z-index: 3;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    background-color: rgba(27, 25, 27, 0.8);
}

.logo-nav {
    width: 70px;
    padding-left: 20px;
}

.nav-list li {
    padding: 20px;
    line-height: 2px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

a {
    color:rgb(253, 253, 255);
}

ul {
    display: flex;
    list-style: none;
}

.nav-list li:hover {
    /* outline: 2px inset rgb(253, 253, 255); */
    background-color: aliceblue;
}

.call {
    font-size: 15px;
    line-height: 2px;
    margin: 20px;
    color:rgb(223, 245, 126);
    /* cursor: pointer; */
}

.btn-open-menu {
    width: 40px;
    height: 32px;
    /* padding-left: -50px; */
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-image: url(../img/icon-open-menu.png);
}

.btn-close-menu {
    width: 40px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-image: url(../img/icon-open-menu.png);
}

.nav-list-mob {
    position: absolute;
    /*  убирает контент  */
    display: none;
    margin-top: 150px;
    background-color: grey;
}

.list-mob-show {
    display: block;
    /* width: 100%; */
}

.nav-item-mob {
    margin: auto;
    /* border: 1px inset pink; */
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.nav-item-mob:hover {
    outline: 1px inset red;
    background-color: cornflowerblue;
}

@media (max-width: 940px){
    nav {
        justify-content: space-between;
    }

    .nav-list {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding-top: 0px;
        /* white-space: nowrap; */
        /* убираю меню, отобржающееся на декстопе */
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

@media (min-width: 939px) {
    .btn-open-menu, .btn-close-menu, .nav-list-mob {
        display: none;
    }
}
