body {
    max-width: 1920px;
    margin: auto;
    background-color: #303233;
}

nav {
    position: fixed;
    z-index: 3;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(27, 25, 27, 0.8);
}

.logo-nav {
    width: 100px;
    padding-left: 20px;
}

.nav-list li {
    padding: 20px;
    line-height: 2px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

ul {
    display: flex;
}

.nav-list li:hover {
    outline: 2px inset rgb(253, 253, 255);
    background-color: aliceblue;
}
