:root {
    --main-bg-color: rgb(99, 92, 92);
    --nav-color: rgba(27, 25, 27, 0.6);
    --nav-list-item: white;
    --item-hover: grey;
    --call: rgb(247, 253, 236);
}

body {
    max-width: 1920px;
    margin: auto;
    background-color: var(--main-bg-color);
}

.section-heading {
  padding-top: 200px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

.nav-main {
    position: fixed; /* чтобы не прокручивался */
    z-index: 3;
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    background-color: var(--nav-color);
}

.nav-main p {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 1.6;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--nav-list-item);
}

.nav-main-list {
    display: flex;
}

.logo-nav {
    width: 70px;
    padding-left: 20px;
}

.nav-list li {
    padding: 20px;
    line-height: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.calling-now p {
    background-color: rgba(231, 231, 231, 0.5);
    border: 2px solid black;
    color: black;
    font-size: 18px;
    line-height: 1.6;
    cursor: pointer;
}

a {
    color:var(--nav-list-item);
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-main-list li:hover {
    outline: 2px inset white;
    background-color: var(--item-hover);
}

.call {
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 2px;
    color:var(--call);
    border: 1px solid var(--call)
}

.btn-open-menu {
    width: 40px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-image: url(../img/icon-open-menu.png);
}

.btn-close-menu {
    width: 40px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-image: url(../img/icon-close-menu.png);
}

.nav-main-list-mob {
    position: absolute;
    /*  убирает контент  */
    display: none;
    background-position: center;
    margin-top: 310px;
    background-color: var(--nav-color);
}

.list-mob-show {
    display: block;
    width: 200px; 
    width: 100%;
    margin-left: auto;
}

.nav-main-item-mob {
    outline: 1px inset rgb(2, 2, 27);
    margin: auto;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.nav-main-item-mob:hover {
    outline: 1px inset white;
    background-color: var(--item-hover);
}

@media (max-width: 940px){
    .section-heading {
        font-size: 30px;
    }

    .nav-main {
        justify-content: space-between;
    }

    .nav-main-list {
        width: 1px;
        white-space: nowrap;
        /* убираю меню, отобржающееся на декстопе */
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

}

@media (min-width: 939px) {
    .btn-open-menu, .btn-close-menu, .nav-main-list-mob {
        display: none;
    }
}
